<section id="contact" class="container mt-5 mb-5">
  <div class="row">
    <h2>Cuéntanos tu idea</h2>
  </div>
  <form action="">
    <div class="row mt-4 mb-2">
      <div class="col-md-12 mb-2">
        <div class="form-outline mb-4">
          <textarea type="text" id="form3Example1" class="form-control" rows="4"></textarea>
          <label class="form-label" for="form3Example1">Tu idea</label>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Nombre</label>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Correo</label>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Teléfono</label>
        </div>
      </div>
      <div class="col-md-6 mb-2">
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Empresa</label>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</section>
