<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4" aria-label="Slide 5"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active blue-bg">
      <div class="d-flex justify-content-center align-items-center">
        <div id="left-text">
          <p>Pensando en</p>
          <b>nuestra</b>
          <p>realidad</p>
        </div>

        <img src="assets/img/carousel-1.png" class="h-100" alt="..." />

        <div id="right-text">
          <p>Tenemos</p>
          <b>una idea</b>
          <p>para sus eventos</p>
        </div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        <p class="highlight">#EventosOnline</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item yellow-bg">
      <div class="d-flex justify-content-center">
        <img src="assets/img/carousel-1.png" class="h-100" alt="..." />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <p>A partir de la idea de su evento, con Web Event Box lo llevamos a un entorno digital.</p>
        <p class="highlight">#EventosOnline</p>>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item green-bg">
      <div class="d-flex justify-content-center">
        <img src="assets/img/carousel-1.png" class="h-100" alt="..." />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <p>A partir de la idea de su evento, con Web Event Box lo llevamos a un entorno digital.</p>
        <p class="highlight">#EventosOnline</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item red-bg">
      <div class="d-flex justify-content-center">
        <img src="assets/img/carousel-1.png" class="h-100" alt="..." />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <p>A partir de la idea de su evento, con Web Event Box lo llevamos a un entorno digital.</p>
        <p class="highlight">#EventosOnline</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item purple-bg">
      <div class="d-flex justify-content-center">
        <img src="assets/img/carousel-1.png" class="h-100" alt="..." />
      </div>
      <div class="carousel-caption d-none d-md-block">
        <p>A partir de la idea de su evento, con Web Event Box lo llevamos a un entorno digital.</p>
        <p class="highlight">#EventosOnline</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
