#journey {
  color: #ffffff;
  background-color: #39c2a8;

  #items-wrap {
    overflow-x: scroll;
  }
  .item {
    min-width: 150px;
  }
}

.line {
  min-width: 60px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 40%;
    right: -5px;
    left: -5px;
    border: 1px #ffffff solid;
  }
}

#slider-wrapper {
  padding: 0 2.5rem;
}
.custom-slider-main {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.info-box {
  width: 50px;
  min-height: 50px;
}

.arrow {
  font-size: 2rem;
  color: #ccc;

  &.active {
    color: white;
    cursor: pointer;
  }
}

.pull-left {
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 100;
}

.pull-right {
  position: absolute;
  top: 30%;
  right: 0;
  z-index: 100;
}
