<section id="journey" class=" pt-5 pb-5">
  <div class="container pb-4 pt-5">
    <h2 class="title text-center font-weight-bold mb-5">Journey del usuario en <br>Web Event Box</h2>
    <div id="slider-wrapper" class="position-relative">
      <div class="pull-left mt-sm">
        <div class="arrow" (click)="scrollLeft()">
          <i class="fas fa-chevron-left"></i>
        </div>
      </div>
      <div #widgetsContent class="custom-slider-main position-relative">
        <div class="item d-flex flex-column align-items-center">
          <img src="../../../assets/img/journey-1.png" alt="journey-1">
          <div class="item-title text-center mt-4">Email de convocatoria</div>
        </div>
        <div class="line"></div>
        <div class="item d-flex flex-column align-items-center">
          <img src="../../../assets/img/journey-2.png" alt="journey-2">
          <div class="item-title text-center mt-4">Formulario de inscripción</div>
        </div>
        <div class="line"></div>
        <div class="item d-flex flex-column align-items-center">
          <img src="../../../assets/img/journey-3.png" alt="journey-3">
          <div class="item-title text-center mt-4">Email de confirmación y recordatorio</div>
        </div>
        <div class="line"></div>
        <div class="item d-flex flex-column align-items-center">
          <img src="../../../assets/img/journey-4.png" alt="journey-4">
          <div class="item-title text-center mt-4">Web Event Box</div>
        </div>
        <div class="line"></div>
        <div class="item d-flex flex-column align-items-center">
          <img src="../../../assets/img/journey-5.png" alt="journey-5">
          <div class="item-title text-center mt-4">Desarrollo del evento</div>
        </div>
        <div class="line"></div>
        <div class="item d-flex flex-column align-items-center">
          <img src="../../../assets/img/journey-6.png" alt="journey-6">
          <div class="item-title text-center mt-4">Mail de agradecimiento y memorias</div>
        </div>
      </div>
      <div class="pull-right mt-sm">
        <div class="arrow" (click)="scrollRight()">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
    </div>
    <p class="text-center font-weight-bold mt-4">Valor agregado: Estadísticas del evento y de la conexión durante el
      desarrollo del evento.</p>
  </div>





</section>
