@import "variables";
@import "../../../../node_modules/mdb-angular-ui-kit/assets/scss/bootstrap/bootstrap-utilities.scss";

.black {
  background-color: $black;
}
.gray {
  background-color: #{$gray-light + "16"};
}

a {
  color: white;
  font-family: $primary-font-bold;

  &:hover {
    text-decoration: underline;
  }
}

#info,
#social-networks {
  a,
  p {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }
  a {
    color: white;
    text-decoration: underline;
  }
}

#social-networks-container {
  max-width: 150px;
  a {
    margin-right: 1rem;
    i {
      color: $red;
      font-size: 1.4rem;
    }
  }
}

#copyright {
  p,
  a {
    margin: 0;
    font-size: 0.9rem;
  }

  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.modal {
  .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 40%;
    }
  }
}
