<footer class="black text-white">
  <section class="">
    <div class="row">
      <div class="col-md-4 p-5 d-flex justify-content-end align-items-center">
        <p>
          Powered by

          <a href="https://exeamedia.com" target="_blank">
            <img src="assets/img/logo-exea.png" alt="">
          </a>
        </p>
      </div>

      <div class="col-md-8 gray p-5 container">
        <div class="row">
          <p>Exea Media es una empresa colombiana que ofrece tecnología y contenidos para que las empresas diseñen y
            administren sus
            propios eventos y medios de comunicación.</p>
        </div>
        <div class="row ">
          <div id="info" class="col-md-9">
            <p>Exea Media SAS - Calle 150 #21A-14 Piso 3</p>
            <p>Bogotá Tel: (+571) 743-2481 Ext 104</p>
            <a href="mailto:info@exeamedia.com" target="_blank">info@exeamedia.com</a>
          </div>
          <div id="social-networks" class="col-md-3">
            <p>Síguenos en:</p>
            <div id="social-networks-container" class="d-flex justify-content-between">
              <a href="https://google.com" target="_blank"><i class="fab fa-google"></i></a>
              <a href="https://google.com" target="_blank"><i class="fab fa-facebook"></i></a>
              <a href="https://google.com" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://google.com" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div id="copyright" class="row" class="text-center p-5">
      <p>Usar este sitio implica que usted acepta nuestros Términos y condiciones y Políticas de privacidad.</p>
      <p>Copyright 2021 - <a href="https://exeamedia.com" target="_blank">Exea Media</a> todos los derechos resevados.
      </p>
    </div>
  </section>
</footer>
