@import "variables";
@import "../../../../node_modules/mdb-angular-ui-kit/assets/scss/bootstrap/bootstrap-utilities.scss";

.cyan-light {
  background: $cyan-light;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.05);

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 450px;
  }

  .card-title {
    font-family: $primary-font-bold;
    padding: 1rem 0;
    font-size: 1.2 rem;
  }

  .card-text {
    color: $gray;
    line-height: 1.3rem;
    font-size: 0.95rem;
  }
}

.modal {
  .modal-dialog {
    @include media-breakpoint-up(md) {
      max-width: 70%;
    }

    figure {
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
      }
    }
  }
}
