<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="#">
      <img src="assets/img/logo_web.png" height="60" alt="" loading="lazy" style="margin-top: -1px;" />
    </a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtons"
      aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div id="navbarButtons" class="collapse navbar-collapse">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#intro">¿Qué es WebBox?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">WebBox ¡La opción!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#advantages">Experiencia WebBox</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <a href="#contact" class="btn btn-primary btn-theme me-3">
          Cuéntanos tu idea
        </a>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
