@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

@import "variables";

@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

body {
  font-family: $primary-font;
  overflow-x: hidden;
  background: url("../assets/img/bg-pattern.png") center;
  background-attachment: fixed;
}

.btn-primary,
.btn-secondary {
  box-shadow: none;
  font-family: $primary-font-bold;
  text-transform: none;
  font-size: 1rem;
}

.btn-primary {
  background-color: $red-light;

  &:hover {
    background-color: $red;
  }

  &:active,
  &:visited,
  &:focus,
  &:checked {
    background-color: $blue;
  }
}

.btn-secondary {
  background-color: $blue;

  &:hover {
    background-color: $blue;
  }

  &:active,
  &:visited,
  &:focus,
  &:checked {
    background-color: $blue-light;
  }
}

.text-blue {
  color: $blue !important;
}
.text-red {
  color: $red !important;
}

.slick-prev,
.slick-next {
  height: 30px;
  width: 30px;

  &:before {
    color: $red;
    font-size: 2rem;
  }
}

.slick-dots li.slick-active button::before {
  color: $red;
}

.form-outline {
  .form-control {
    border-radius: 0;
    border-bottom: 2px solid $black;
    background: $gray-light;
  }
}

.form-outline .form-control:focus ~ .form-label {
  color: $red;
}

.form-outline .form-control:focus ~ .form-label,
.form-outline .form-control.active ~ .form-label {
  transform: translateY(-1rem) translateY(-0.9rem) scale(0.8);
}

#carousel-home {
  .img-mobile {
    display: none;

    @include media-breakpoint-down(md) {
      display: inline;
    }
  }

  .img-desktop {
    display: none;

    @include media-breakpoint-between(md, xl) {
      display: inline;
    }
  }

  .img-desktop-large {
    display: none;

    @include media-breakpoint-up(xl) {
      display: inline;
    }
  }
}

#advantages {
  .modal {
    .modal-dialog {
      @include media-breakpoint-up(md) {
        max-width: 70%;
      }

      figure {
        display: flex;
        justify-content: center;

        img {
          max-width: 100%;
        }
      }
    }
  }
}

#footer {
  .modal {
    .modal-dialog {
      @include media-breakpoint-up(md) {
        max-width: 40%;
      }
    }
  }
}
